HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
compose.yml
!**/main/resources/application-dev.yml
!**/main/resources/application-prod.yml
!**/main/java/be/yapock/caninecompanion/pl/config/mailing/MailConfig.java
!**/main/java/be/yapock/caninecompanion/pl/config/security/JWTAuthenticationFilter.java
!**/main/java/be/yapock/caninecompanion/pl/config/security/JWTProvider.java
!**/main/java/be/yapock/caninecompanion/pl/config/security/SecurityConfig.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
